img{
    width: 244px;
    
    
}
.card{
    width: 20vw;
    border: 2px solid black;
    margin: 34px;
    height: 200px;
    overflow: hidden;

}
h1{
    font-size: 20px;
    text-align: center;
}
p{
    text-align: center;
}